@model CardInfoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CardInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeriesNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeriesNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardType.TypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardSeries)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardSeries.SeriesName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
