@model IEnumerable<CardInfoViewModel>

@{
    ViewData["Title"] = "SeriesInfo";
    var seriesInfo = ViewData["CardSeriesInfo"] as CardSeriesViewModel;
    var cardTypeList = ViewData["CardTypeList"] as IEnumerable<CardTypeViewModel>;
    var rate = Math.Round( (double)Model.Count() / seriesInfo.Piece, 4) *100;
}

<h1>@seriesInfo.SeriesName</h1>

<div class="card-deck">
    <div class="card bg-light">
        <div class="card-header">蒐集率</div>
        <div class="card-body">
            <div class="progress">
              <div class="progress-bar" style="width:@(rate)%">@(rate)%</div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-header">
        @foreach(var item in cardTypeList.Where(x => x.Id == 1))
        {
            @item.TypeName
        }
    </div>
    <div class="card-body">
       <div class="row row-cols-1 row-cols-md-6">
            @foreach(var item in Model.Where(x=>x.CardType.Id==1)){
                <div class="col mb-4">
                    <div class="card bg-light">
         
                        <div class="card-header">
                            <p class="card-text text-center">@item.SeriesNum</p>
                        </div>
                         <img class="card-img-bottom" style="height:100%" src="/Images/@item.CardSeries.SeriesCode/@(item.CardSeries.SeriesCode)-@(item.SeriesNum).jpg" alt="@(item.Name)圖片">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<hr>
<div class="card">
    <div class="card-header">
        @foreach(var item in cardTypeList.Where(x => x.Id == 2))
        {
            @item.TypeName
        }
    </div>
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-6">
        @foreach(var item in Model.Where(x=>x.CardType.Id==2)){
            <div class="col mb-4">
                <div class="card bg-light">
         
                    <div class="card-header">
                        <p class="card-text text-center">@item.SeriesNum</p>
                    </div>
                     <img class="card-img-bottom" style="height:100%" src="/Images/@item.CardSeries.SeriesCode/@(item.CardSeries.SeriesCode)-@(item.SeriesNum).jpg" alt="@(item.Name)圖片">
                </div>
            </div>
        }
        </div>
    </div>
</div>

<hr>
<div class="card">
        <div class="card-header">
        @foreach(var item in cardTypeList.Where(x => x.Id == 3))
        {
            @item.TypeName
        }
    </div>
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-6">
            @foreach(var item in Model.Where(x=>x.CardType.Id==3)){
                <div class="col mb-4">
                    <div class="card bg-light">
         
                        <div class="card-header">
                            <p class="card-text text-center">@item.SeriesNum</p>
                        </div>
                         <img class="card-img-bottom" style="height:100%" src="/Images/@item.CardSeries.SeriesCode/@(item.CardSeries.SeriesCode)-@(item.SeriesNum).jpg" alt="@(item.Name)圖片">
                    </div>
                </div>
            }
        </div>
    </div>
</div>


